.user-info
  height: 100%
  padding: 0 10PX

.avatar
  width: 80px
  height: 80px

.cell-list
  padding: 10PX
  border-radius: 10PX;
  background-color: #ffffff;


.bgc
  position absolute
  height: 100%;
  width: 100%
  object-fit: cover

.top-wrap
  position relative
  display: flex
  align-items center
  justify-content flex-start
  height: 180PX;
  margin-bottom: -10PX
  padding-left: 10PX
  font-size: 25PX
  column-gap: 20PX
  background: url("moon.png");
  background-clip: padding-box;

  // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0PX, white 40%);