base_bgc1 = #f8fafc
base_bgc2 = #ececec85
text-color = #606266
text-color_stronger = #303133
text-slight = oklch(55.1% 0.027 264.364)

ttColorCommon()
  color text-color

bgColorCommon()
  background-color: #ffffff

boxSdwCommon()
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px

bd()
  border 1px solid #dcdfe6


bdRadius()
  border-radius 8px