.login-wrap
  height: 100%
  padding 5PX 10PX
  padding-top: 100PX;

.logo
  width: 100%;
  height: 150PX;
  margin: 0 auto;
  & :global(img)
    width: 100PX
    object-fit: cover;
    margin: 0 auto;

.form-wrap
  margin: 0 auto;
  margin-top: 50PX;
  max-width: 500PX

